<div class="spinner-border m-5" role="status" *ngIf = "!vm">
    <span class="visually-hidden"></span>
</div>

<!-- TODO: Logic seems to be complex. Evaluate and refactor all *ngIf -->
<div *ngIf = "vm && vm.products.length == 0">
    <div class="alert alert-info" role="alert" > No hay productos cargados.</div>
    <div class="alert alert-info" role="alert" *ngIf="vmCategories && vmCategories.categories.length == 0 " > No hay categorias cargadas, debe cargar primero una categoria.</div>
    <div class="row">
        <div class="col-md-4 ">
            <button type="button" class="btn btn-lg btn-primary" style="margin-bottom: 25px;" (click)="showNewProductModal(newProductModalTemplate)">Agregar Producto</button>                
            <div *ngIf="!vmCategories" class="alert alert-danger" role="alert">
                No se puede dar de alta productos en este momento.
            </div>
        </div>                         
    </div>        
  </div>


<div *ngIf ="vm && vm.products.length > 0">
    <form class="col-12 col-lg-auto mb-3 mb-lg-0">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search" (keyup)="onKeyUpEvent($event)" >
    </form>
    <br/>
    <div class ="table-responsive">
        <table class="table">
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Stock</th>
                <th></th>                                 
            </tr>

            <tr *ngFor="let product of vm.products">
                <td><img [src]="product.img" style="width:200px;"></td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price | currency }}</td>        
                <td *ngIf="product.stock > product.minStock"><span class="badge badge-success spanStock">OK</span></td>
                <td *ngIf="product.stock <= product.minStock && product.stock > 0"><span class="badge badge-warning">BAJO</span></td>
                <td *ngIf="product.stock == 0"><span class="badge badge-danger">SIN STOCK</span></td>            
                <td>
                    <div class="container">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-2">
                                <button type="button" class="btn btn-danger"style="margin-right:5px;"><fa-icon [icon]="faTrash"></fa-icon></button>                                
                            </div>
                            <div class="col-lg-2">
                                <button type="button" class="btn btn-primary" ><fa-icon [icon]="faPenSquare"></fa-icon></button>
                            </div>
                        </div>
                    </div>
                </td>                                                    
            </tr>
        </table>
    </div>  
    <hr>      
    <div class="row">
        <div class="col-md-4 ">
            <button type="button" class="btn btn-lg btn-primary" style="margin-bottom: 25px;" (click)="showNewProductModal(newProductModalTemplate)">Agregar Producto</button>                
            <div *ngIf="!vmCategories" class="alert alert-danger" role="alert">
                No se puede dar de alta productos en este momento.
            </div>
        </div>                         
    </div>        
</div>
<!-- TODO: make a component and apply a pattern to make reusable for category and products
with all CRUD operations -->
<ng-template #newProductModalTemplate>
    <div class="modal-header clearfix">
        <h4 class="modal-title float-left">Agregar Producto</h4>
        <button type="button" class="close float-right" aria-label="Cerrar" (click)="newProductCancelled()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="category">Categoria</label>
            <!-- <input type="text" class="form-control" id="category" placeholder="Categoria producto..." [(ngModel)] = "newProductEditor.categoryId"
                [ngClass] ="{ 'is-invalid': newProductEditor.error }" /> -->
            
            <select class="form-control" id="category" aria-label="Seleccion categorias" [(ngModel)]="newProductEditor.categoryId">                
                <option disabled>Seleccionar Categoria...</option>
                <option *ngFor="let category of vmCategories.categories" [value]="category.id">{{ category.name }} </option>                                                
            </select>                        

            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" placeholder="Nombre Producto..." [(ngModel)]="newProductEditor.name"
                [ngClass]="{ 'is-invalid': newProductEditor.error }"  />
            <div *ngIf="newProductEditor.error" class="invalid-feedback">
                {{ newProductEditor.error }}
            </div>

            <label for="description">Descripcion</label>            
            <input type="text" class="form-control" id="description" placeholder="Descripcion producto..." [(ngModel)] = "newProductEditor.description"
                [ngClass] ="{ 'is-invalid': newProductEditor.error }" />

            <label for="img">Imagen</label>
            <input type="text" class="form-control" id="img" placeholder="Imagen producto..." [(ngModel)] = "newProductEditor.img"
                [ngClass] ="{ 'is-invalid': newProductEditor.error }" />
            
            <label for="price">Precio</label>
            <input type="text" class="form-control" id="price" placeholder="Precio producto..." [(ngModel)] = "newProductEditor.price"
                [ngClass] ="{ 'is-invalid': newProductEditor.error }" />

            <label for="stock">Stock</label>
            <input type="text" class="form-control" id="stock" placeholder="Stock producto..." [(ngModel)] = "newProductEditor.stock"
                [ngClass] ="{ 'is-invalid': newProductEditor.error }" />
            
            <label for="minStock">Stock Minimo</label>
            <input type="text" class="form-control" id="minStock" placeholder="Stock minimo producto..." [(ngModel)] = "newProductEditor.minStock"
                [ngClass] ="{ 'is-invalid': newProductEditor.error }" />
        </div>    
    </div>
    <div class="modal-footer">
      <div class="text-right">
        <button class="btn btn-default" (click)="newProductCancelled()">Cancelar</button>
        <button class="btn btn-primary" (click)="addProduct()">Crear</button>
      </div>
    </div>
  </ng-template>