span {
    display: inline-block;
    width: 70px;
}

button {
    padding: 5px;
}

.modal-footer {
    display: block;
  }

  .alert-info {
    font-weight: bold;
  }

  .td {
    vertical-align: center;
  }