<div class="spinner-border m-5" role="status" *ngIf = "!vm">
  <span class="visually-hidden"></span>
</div>

<div *ngIf = "vm && vm.categories.length == 0">
  <div class="alert alert-info" role="alert" > No hay categorias cargadas.</div>
  <div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-lg btn-primary" style="margin-right:25px; margin-bottom: 10px;" (click)="showNewCategoryModal(newCategoryModalTemplate)" >Agregar Categoria</button>
    </div>
  </div>
</div>

<div *ngIf = "vm && vm.categories.length > 0">
  <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let category of vm.categories">

          <div class="card">
              <img class="card-img-top" [src]="category.img">
              <div class="card-header">
                {{category.name}}
              </div>
              <div class="card-body">
              {{category.description}}             
              </div>
              <hr>
              <div class="flex">
                <button class="btn btn-danger"  data-toggle="tooltip" data-placement="top" title="Eliminar categoria" style="margin-right:10px;margin-bottom:15px;"  (click)="confirmDeleteCategory(deleteCategoryModalTemplate, category)"><fa-icon [icon]="faTrash"></fa-icon></button>
                <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Modificar categoria" style="margin-bottom:15px;" (click)="showCategoryEditorModal(categoryUpdateModalTemplate, category)"><fa-icon [icon]="faPenSquare"></fa-icon></button>
              </div>
            </div>

        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
          <button type="button" class="btn btn-lg btn-primary" style="margin-right:25px; margin-bottom: 10px;" (click)="showNewCategoryModal(newCategoryModalTemplate)" >Agregar Categoria</button>
      </div>
    </div>
</div>

<ng-template #newCategoryModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Agregar Categoria</h4>
    <button type="button" class="close float-right" aria-label="Cerrar" (click)="newCategoryCancelled()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" placeholder="Nombre categoria..." [(ngModel)]="newCategoryEditor.name"
        [ngClass]="{ 'is-invalid': newCategoryEditor.error }"  />
      <div *ngIf="newCategoryEditor.error" class="invalid-feedback">
        {{ newCategoryEditor.error }}
      </div>

      <label for="description">Descripcion</label>
      <input type="text" class="form-control" id="description" placeholder="Descripcion categoria..." [(ngModel)] = "newCategoryEditor.description"
        [ngClass] ="{ 'is-invalid': newCategoryEditor.error }" />

      <label for="img">Imagen</label>
      <input type="text" class="form-control" id="img" placeholder="Imagen categoria..." [(ngModel)] = "newCategoryEditor.img"
        [ngClass] ="{ 'is-invalid': newCategoryEditor.error }" />
    </div>    
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button class="btn btn-default" (click)="newCategoryCancelled()">Cancelar</button>
      <button class="btn btn-primary" (click)="addCategory()">Crear</button>
    </div>
  </div>
</ng-template>

<ng-template #deleteCategoryModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Borrar categoria "{{ categoryToDelete?.name }}" ?</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="deleteCategoryModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>La categoria sera eliminada. </p>    
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button type="button" class="btn btn-default" (click)="deleteCategoryModalRef.hide()">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="deleteCategoryConfirmed()">Eliminar</button>
    </div>
  </div>
</ng-template>

<ng-template #categoryUpdateModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Info Categoria</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="updateCategoryModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="categoryName">Nombre</label>
      <input type="text" class="form-control" id="categoryName" placeholder="Nombre Categoria..."
        [(ngModel)]="categoryEditor.name" />

      <label for="categoryDescription">Descripcion</label>
      <input type="text" class="form-control" id="categoryDescription" placeholder="Descripcion Categoria..."
        [(ngModel)]="categoryEditor.description"/>

      <label for="categoryImg">Imagen</label>
      <input type="text" class="form-control" id="categoryImg" placeholder="Imagen Categoria..."
        [(ngModel)]="categoryEditor.img" />
    </div>   
  </div>
  <div class="modal-footer">
    <div class="clearfix">      
      <div class="float-right">
        <button class="btn btn-default" (click)="updateCategoryModalRef.hide()">Cancelar</button>
        <button class="btn btn-primary" (click)="updateCategory()">Actualizar</button>
      </div>
    </div>
  </div>
</ng-template>
