<div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let category of categories">

        <div class="card">
            <img class="card-img-top" [src]="category.img">
            <div class="card-header">
              {{category.name}}
            </div>
            <div class="card-body">
             {{category.description}}
            </div>
          </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-lg-2">
        <button type="button" class="btn btn-lg btn-primary" style="margin-right:25px; margin-bottom: 10px;" >Agregar Categoria</button>
    </div>
    
    <div class="col-md-4 col-lg-2">        
        <button type="button" class="btn btn-lg btn-primary" style="margin-right:25px; margin-bottom: 10px">Eliminar Categoria</button>
    </div>
    
    <div class="col-md-4 col-lg-2">
        <button type="button" class="btn btn-lg btn-primary" style="margin-bottom: 10px">Modificar Categoria</button>
    </div>    
</div>
